* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font start */

@font-face {
    font-family: myfont;
    src: url(../font/ppneuemontreal-medium.otf);
}

/* body start */

body {
    font-family: myfont;
    overflow-x: hidden;
}

/* button start */

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* hero start */

.hero {
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0;
    background-color: #fff;
}

.hero__container {
    max-width: 1350px;
    width: 100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__left {
    max-width: 600px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 17px;
}

.hero__left__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 231px;
}

.hero__logo__link {
    max-width: 128px;
    max-height: 44px;
    overflow: hidden;
}

.hero__logo {
    width: 100%;
    object-fit: cover;
}

.hero__left__top_btn__box {
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero__left__top__btn {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #F6F6F6;
    color: #232323;
    transform: scale(0);
}

.hero__left__center {
    max-width: 581px;
    width: 100%;
    margin: auto;
    margin-bottom: 265px;
    max-height: 235px;
    position: relative;
    overflow: hidden;
}

.hero__left__center__heading {
    font-family: myfont;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: center;
    margin-bottom: 12px;
    position: relative;
    top: -50px;
}

.hero__left__center__title {
    font-size: 56px;
    font-weight: 400;
    line-height: 67.2px;
    text-align: center;
    position: relative;
    /* bottom: -581px; */
}

.hero__left__center__title span {
    display: block;
    max-height: 67px;
    overflow: hidden;
}

.hero__left__center__title_top span {
    position: relative;
    bottom: -67px;
}

.hero__left__center__title_center span {
    position: relative;
    bottom: -67px;
}

.hero__left__center__title_bottom span {
    position: relative;
    bottom: -67px;
}

.hero__left__botom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__left__bottom__link {
    display: flex;
    gap: 10px;
    border-radius: 80px;
    color: #FFFFFF;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    max-height: 45px;
    overflow: hidden;
    max-width: 45px;
    width: 100%;
    height: 45px;
    transform: scale(0);
    background-color: #141414;
}

.hero__left__bottom__link__img_bg_black {
    background-color: #141414;
    padding: 4px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 45px;
    width: 100%;
    height: 45px;
    max-height: 45px;
    transform: scale(0);
    position: relative;
    z-index: 1;
}

.hero__left__bottom__link__img_bg {
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D5E7EE;
    border-radius: 50%;
    overflow: hidden;
}

.hero__left__bottom__link__text {
    height: 45px;
    max-height: 45px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    background-color: #141414;
    padding: 11px 20px 11px 0;
    border-bottom-right-radius: 80px;
    border-top-right-radius: 80px;
    text-wrap: nowrap;
    /* position: absolute;
    right: 0;
    left: -196px;
    transition: all 5s; */
}

.hero__left__bottom__explore__link {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}

.hero__left__bottom__explore__link__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #000000;
    max-width: 91px;
    width: 100%;
    position: relative;
    left: -30px;
    opacity: 0;
}

.hero__left__bottom__link__img_box {
    transform: scale(0);
    position: relative;
}

.hero__left__bottom__link__img_1 {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.hero__left__bottom__link__img_2__bg {
    width: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    background-color: #D5E7EE;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
}

.hero__right {
    max-width: 710px;
    width: 100%;
    transform: translateX(30px);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.hero__right__text__content {
    padding: 30px;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
}

.hero__right__bg {
    background-image: url(../img/hero/hero__right__img.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    transform: scale(1.5);
}

.hero__right__top {
    display: flex;
    align-items: center;
    margin-bottom: 696px;
    max-height: 46px;
    overflow: hidden;
}

.hero__right__top__title_1 {
    max-width: 180px;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 23.4px;
    color: white;
    text-wrap: nowrap;
}

.hero__right__top__title_1_left {
    position: relative;
    bottom: -46px;
}

.hero__right__top__title_2_left {
    position: relative;
    bottom: -46px;
}

.mr-37px {
    margin-right: 37px;
}

.hero__right__top__btn__box {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero__right_top__btn {
    width: 46px;
    max-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 0;
    color: white;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
}

.hero__right_top__btn_1 {
    transform: scale(0);
}

.hero__right_top__btn_2 {
    transform: scale(0);
}

.hero__right_top__btn:hover {
    background-color: #fff;
    color: #232323;

}

.hero__right__bottom__download {
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 167px;
    width: 100%;
    margin-left: auto;
    padding: 16px 20px;
    border-radius: 20px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-decoration: none;
    color: #000000;
    transform: scale(0);

}

.hero__right__catalog__img__bg {
    max-width: 40px;
    width: 100%;
    padding: 10px 11px 12px 11px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f6f6f6;
}

.hero__dow {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:1121px) {
    .mr-37px {
        margin-right: 10px;
    }
}

@media(max-width:1068px) {
    .hero__container {
        flex-direction: column;
    }

    .hero__right {
        transform: translate(0);
    }
}

@media(max-width:560px) {
    .hero__right__top__title_1_left {
        display: none;
    }

    .hero__right__top__title_2_left {
        display: none;
    }

    .hero__right__text__content {
        padding: 15px;
    }

    .hero__right_top {
        margin-bottom: 319px;
    }

    .hero__right {
        max-height: 429px;
        overflow: hidden;
    }

    .hero__left__top {
        margin-bottom: 79px;
    }

    .hero__left__center__heading {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .hero__left__center__title {
        font-size: 36px;
        line-height: 43.2px;
        text-wrap: nowrap;
    }

    .hero__left__center {
        margin-bottom: 25px;
    }

    .hero__left__bottom__explore__link {
        display: none;
    }

    .hero__left__botom {
        justify-content: center;
    }

    .hero__left__top__btn {
        height: 34px;
        width: 34px;
        padding: 10px;
    }

    .hero__right_top__btn {
        width: 34px;
        height: 34px;
        padding: 10px;
    }

    .hero__right__bottom__download {
        max-width: 125px;
        padding: 10px 15px;
        font-size: 14px;
        gap: 8px;
        position: relative;
        bottom: 420px;
    }

    .hero__right__catalog__img__bg {
        max-width: 28px;
        width: 100%;
        height: auto;
        padding: 7px;
    }

    .hero__right_top__btn {
        padding: 8px;
    }
}


/* payment start */


.payment__btn__box {
    width: 100%;
    position: absolute;
    top: 100px;
}

.payment__btn__box__parent_2 {
    position: relative;
    max-width: 104px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 12px;
}


.paymet__text__box {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.payment__text {
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    color: white;
}

.payment {
    max-height: 900px;
    height: 900px;
    background-color: #f8f5f2;
    overflow: hidden;
}

.payment__container {
    max-width: 1540px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.payment__scroll__box {
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f8f5f2;
    /* background-color: red; */
    border-radius: 30px;
}

.payment__video__parent {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.payment__video {
    width: auto;
    height: 900px;
}

@media(max-width:768px) {
    .payment {
        max-height: 852px;
        height: 100%;
    }

    .payment__container {
        max-height: 852px;
        height: 100%;
    }
    .payment__video {
        width: auto;
        height: 852px;
    }
}

/* portfolio start */

.portfolio {
    background-color: #232323;
    padding-top: 100px;
    /* padding-bottom: 100px; */
    height: auto;
    /* position: relative; */
    /* top: -50px; */
    /* z-index: -1; */
}

.portfolio__container {
    position: relative;
    z-index: 5;
    max-width: 1400px;
    padding-right: 40px;
    width: 100%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #232323;
    /* background-color: red; */
    padding-bottom: 100px;
    border-radius: 30px;
}

.portfolio__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 92px;
    overflow: hidden;
}

.portfolio__title {
    font-size: 56px;
    font-weight: 400;
    line-height: 67.2px;
    color: white;
    position: relative;
    bottom: -60px;
}

.portfolio__gsao__btn__box {
    overflow: hidden;
    max-width: 330px;
    width: 100%;
    position: relative;
}

.portfolio__btn__box {
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: #393939;
    max-width: 330px;
    width: 100%;
    border-radius: 8px;
    position: relative;
    right: -330px;
}

.portfolio__btn {
    max-width: 112px;
    width: 100%;
    border-radius: 8px;
    background-color: transparent;
    padding: 16px 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: white;
}

.portfolio__btn__marquee {
    display: none;
}

.portfolio__btn__active {
    background-color: #fff;
    color: black;
}

.portfolio__card__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.portfolio__card__bottom {
    width: 100%;
    padding: 0;
}

.portfolio__card_1 {
    background-image: url(../img/portfolio/1.png);
    background-size: cover;
    background-position: center center;
    padding: 40px;
}

.portfolio__card_2 {
    background-image: url(../img/portfolio/2.png);
    background-size: cover;
    background-position: center center;
    padding: 40px;
}

.portfolio__card_3 {
    background-image: url(../img/portfolio/3.png);
    background-size: cover;
    background-position: center center;
    padding: 40px;
}

.portfolio__card_4 {
    background-image: url(../img/portfolio/4.png);
    background-size: cover;
    background-position: center center;
    padding: 40px;
}

.portfolio__card_5 {
    background-image: url(../img/portfolio/5.png);
    background-size: cover;
    background-position: center center;
    padding: 40px;
}

.portfolio__card_6 {
    overflow: hidden;
}

.portfolio_map {
    width: 100%;
    height: 100%;
}

.portfolio__card {
    width: 100%;
    max-height: 714px;
    height: 714px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transform: scale(.9);
    display: flex;
    flex-direction: column;
}

.portfolio__card__arrow__bg {
    width: 52px;
    height: 52px;
    padding: 17px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 40px;
    right: 40px;
}

.portfolio__card__arrow {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio__text {
    font-size: 22px;
    font-weight: 700;
    line-height: 28.6px;
    color: white;
    /* position: absolute; */
    left: 40px;
    bottom: 40px;
    transition: all .3s;
    margin-top: auto;
    max-width: 335px;
    width: 100%;
}

.portfolio__card__bottom_2 {
    margin-top: auto;
    max-width: 580px;
    width: 100%;
}

.portfolio__card__title {
    max-width: 199px;
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    line-height: 28.6px;
    color: white;
    opacity: 0;
    transition: all .3s;
}

.portfolio__card:hover .portfolio__card__title {
    opacity: 1;
}

.portfolio__card:hover .portfolio__text {
    opacity: 0;
}

.portfolio__info__location {
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 175px;
    width: 100%;
    padding: 20px 25px;
    background-color: #d5e7ee;
    border-radius: 18px;
    text-decoration: none;
    /* position: absolute; */
    right: 40px;
    bottom: 132px;
    transform: scale(0);
    transition: all .5s;
    margin-left: auto;
    margin-bottom: 10px;
    color: #2e2f30;
}

.portfolio__info__location__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    color: #2e2f30;
}

.portfolio__card:hover .portfolio__info__location {
    transform: scale(1);
}

.portfolio__info__title {
    max-width: 71px;
    width: 100%;
    color: #2e2f30;
    font-size: 12px;
    font-weight: 500;
    line-height: 15.12px;
    margin-bottom: 8px;
}

.portfolio__info__box {
    width: 100%;
    /* position: absolute; */
    bottom: 40px;
    left: 40px;
    display: flex;
    align-items: center;
    gap: 4px;
    /* transform: translateY(28px); */
    margin-bottom: -28px;
    margin-top: auto;
}

.mb-23 {
    margin-bottom: 23px;
}

.portfolio__info {
    max-width: 113px;
    width: 100%;
    padding: 12px 14px 12px 12px;
    background-color: #fff;
    border-radius: 18px;
    transform: scale(0);
    /* max-height: 82px; */
    transition: all .5s;
}

.portfolio__card:hover .portfolio__info {
    transform: scale(1);
}

.portfolio__info__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 20.16px;
    color: #2e2f30;
}

.portfolio__info__icon__box {
    display: flex;
    gap: 16px;
}

.portfolio__bottom {
    max-width: 751px;
    width: 100%;
    margin-left: auto;
    display: flex;
    margin-top: 80px;
}

.portfolio__bottom__btn {
    max-width: 142px;
    width: 100%;
    border-radius: 80px;
    background-color: #d5e7ee;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #232323;
    transform: scale(0);
}

.portfolio__bottom__text {
    max-width: 198px;
    width: 100%;
    margin-right: 65px;
    margin-left: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: white;
    transform: scale(0);
}

.portfolio__icon__box {
    max-width: 155px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.portfolio__bottom__icon__bg {
    max-width: 45px;
    width: 100%;
    max-height: 45px;
    background-color: #393939;
    border-radius: 8px;
    padding: 13px;
    transform: scale(0);
}

.marquee__por {
    display: none;
}

.portfolio__card__bottom {
    margin-top: auto;
}

@media(max-width:1376px) {
    .portfolio__info__box {
        flex-wrap: wrap;
    }
}

@media(max-width:768px) {
    .portfolio__res_title___box {
        height: 86px;
        overflow: hidden;
    }

    .portfolio__container {
        padding-bottom: 0;
    }

    .portfolio__card__box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 20px;
    }

    .portfolio__title {
        bottom: -86px;

    }

    .portfolio__card {
        height: 418px;
        max-height: 418px;
        width: 100%;
    }

    .portfolio__top {
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;
    }

    .portfolio__title {
        font-size: 36px;
        font-weight: 400;
        line-height: 43.2px;
        text-align: center;
    }

    .portfolio__bottom {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .portfolio__card__title {
        opacity: 1;
    }

    .portfolio__bottom__btn {
        display: flex;
        max-width: 121px;
        width: 100%;
        padding: 15px 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        margin-bottom: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    .portfolio__bottom__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;
        text-align: center;
        margin-bottom: 25px;
        margin-left: 0;
        margin-right: 0;
    }

    .md_hidden {
        display: none;
    }

    .portfolio {
        padding-bottom: 80px;
        padding-top: 80px;
    }

    .portfolio__info {
        transform: scale(1);
    }

    .portfolio__btn__marquee {
        width: 100%;
        position: absolute;
        align-items: end;
    }

    .portfolio__card {
        display: block;
        position: relative;
    }

    .marquee__por {
        position: absolute;
        top: 197px;
    }

    .marque__container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 8px;
    }

    .marque__container>.portfolio__info {
        max-width: 91px;
        width: 100%;
    }

    .portfolio__info__title {
        width: 100%;
        font-size: 10px;
        margin-bottom: 9px;
        position: relative;
        text-wrap: wrap;
    }

    .portfolio__info__text {
        font-size: 14px;
    }

    .portfolio__card__title {
        font-size: 18px;
    }
}

/* report start */

.report {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
}

.report__container {
    max-width: 1400px;
    padding-right: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.report__left {
    max-width: 660px;
    width: 100%;
}

.report__left__heading__text {
    max-width: 356px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #00000080;
    margin-bottom: 50px;
}

.report__left__team__box {
    max-width: 359px;
    width: 100%;
    position: relative;
    padding-left: 204px;
    display: flex;
    align-items: center;
    margin-bottom: 192px;
}

.report__left__text__img {
    position: absolute;
    left: 0;
}

.report__left__text__img1 {
    z-index: 1;
}

.report__left__text__img2 {
    z-index: 2;
    left: 42px;
}

.report__left__text__img3 {
    z-index: 3;
    left: 84px;
}

.report__left__text__img4 {
    z-index: 4;
    left: 128px;
}

.report__left__team__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #00000080;
}

.report__left__bottom__text__row {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.report__left__bottom__col {
    padding-bottom: 30px;
    border-bottom: 1px solid #23232333;
    display: flex;
    align-items: center;
    gap: 63px;
}

.report__left__bottom__col__title {
    font-size: 82px;
    font-weight: 400;
    line-height: 98.4px;
    color: #232323;
    max-width: 177px;
    width: 100%;
}

.report__left__bottom__col__text {
    max-width: 315px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    color: #000000;
}

.border_b_none {
    border-bottom: none;
}

.report__right {
    max-width: 660px;
    width: 100%;
    border-radius: 30px;
    background-image: url(../img/report/right__bg.png);
    height: 820px;
    max-height: 820px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.report__right__contact {
    display: block;
    max-width: 196px;
    width: 100%;
    margin-left: auto;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #d5e7ee;
    border-radius: 80px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-decoration: none;
    color: #232323;
}

.report__right__contact__icon__bg {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    padding: 9px;
    background-color: #fff;
}

.report__right__bottom__parent {
    margin-top: auto;
}


.report__right__bottom__question {
    display: flex;
    width: 45px;
    height: 45px;
    margin-left: auto;
    margin-bottom: 10px;
}

.report__right__bottom {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.report__right__bottom__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.6px;
    color: white;
}

.report__right__bottom__card {
    max-width: 304px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 27px 17px 20px;
    background-color: #fff;
    border-radius: 20px;
}

.report__right__bottom__card__img {
    width: 60px;
    height: 60px;
}

.report__right__bottom__card__text__box {
    max-width: 167px;
    width: 100%;
}

.report__right__bottom__card__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    color: #23232380;
    margin-bottom: 5px;
}

.report__right__bottom__card__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #232323;
}

/* .report__title_1{
    background-color: red;
} */

@media(max-width:1100px) {
    .md_hidden {
        display: none;
    }

    .report__left__heading__text {
        margin-bottom: 40px;
    }

    .report__left__team__box {
        margin-bottom: 70px;
    }

    .report__right {
        height: 429px;
        background-image: url(../img/report/right__bg_2.png);
        background-size: cover;
        background-position: center center;
        padding: 15px;
        margin-bottom: 60px;
    }

    .report__right__bottom__text {
        display: none;
    }

    .report__right__bottom__card {
        max-width: 210px;
        width: 100%;
        padding: 10px 8px 9px 9px;
        margin-left: auto;
        gap: 11px;
    }

    .report__right__bottom__card__img {
        width: 50px;
        height: 50px;
    }

    .report__right__bottom__card__text {
        font-size: 10px;
    }

    .report__right__bottom__card__title {
        font-size: 14px;
    }

    .report__right__bottom__question {
        width: 28px;
        height: 27px;
        margin-bottom: 10px;
    }

    .report__right__contact {
        max-width: 171px;
        width: 100%;
        padding: 3px;
        gap: 8px;
        font-size: 16px;
        font-weight: 400;
    }

    .report__right__contact__icon__bg {
        width: 34px;
        height: 34px;
    }

    .report__left__bottom__col {
        justify-content: space-between;
        gap: 40px;
    }

    .report__left__bottom__col__title {
        font-size: 50px;
        max-width: 110px;
        width: 100%;
    }

    .report__left__bottom__col__text {
        font-size: 20px;
    }
}

@media(min-width:1100px) {
    .min_md__hidden {
        display: none;
    }
}

/* solutions start */

.md_hidden_reverse {
    display: none;
}

.solutions {
    padding-top: 100px;
    padding-bottom: 120px;
    overflow-x: hidden;
    background-color: #232323;
}

.solutions__container {
    max-width: 1400px;
    padding-right: 20px;
    padding-left: 20px;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 120px;
}

.solutions__left {
    max-width: 493px;
    width: 100%;
}

.solutions__title {
    font-size: 56px;
    font-weight: 400;
    line-height: 67.2px;
    color: white;
    margin-bottom: 30px;
}

.solutions__title span {
    height: 67px;
    overflow: hidden;
    display: block;
}

.solutions__title_top span {
    height: 67px;
    position: relative;
    bottom: -67px;
}

.solutions__title_centerz span {
    height: 67px;
    position: relative;
    bottom: -67px;
}

.solutions__title__bottom span {
    height: 67px;
    position: relative;
    bottom: -67px;
}

.solutions__left__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #D5E7EE;
    margin-left: -50px;
    opacity: 0;
}

.solutions__left__link__round {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #d5e7ee;
    margin-right: 12px;
}

.solutions__left__link__arrow {
    width: 15px;
    height: 15px;
    object-fit: cover;
    margin-left: 8px;
    transition: all .3s;
}

.solutions__left__link:hover .solutions__left__link__arrow {
    transform: translate(10px);
}

.solutions__right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 660px;
    width: 100%;
}

.solution__right__carf {
    max-width: 120px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    /* padding: 10px 45px 10px 10px; */
    padding: 10px;
    background-color: #fff;
    border-radius: 80px;
    margin-left: auto;
}

.solutions__right__card__img {
    width: 100px;
    height: 100px;
    margin-right: 60px;
    object-fit: cover;
}

.solutions__right__card__title {
    font-size: 28px;
    font-weight: 400;
    line-height: 33.6px;
    color: #000;
    display: flex;
    padding-right: 19px;
    text-wrap: nowrap;
    position: relative;
}


.solutions__right__card__title__heading {
    font-size: 14px;
    position: absolute;
    right: 0;
    top: -10px;
}

.solution__right__arrow__bg {
    margin-left: auto;
    max-width: 78px;
    width: 100%;
    height: 78px;
    border-radius: 50%;
    padding: 24px;
    transition: all .3s;
}

.solution__right__carf:hover .solution__right__arrow__bg {
    background-color: #d5e7ee;
}

.solutions__right__card__arrow {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.solution__bottom {
    max-width: 1440px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}


.solution__bottom__marquee__ontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
}

.solution__bottom__text {
    width: 100%;
    padding: 11px 40px;
    background-color: #393939;
    border-radius: 80px;
    font-size: 82px;
    font-weight: 400;
    line-height: 98.4px;
}

@media(max-width:950px) {
    .solution {
        padding-top: 80px;
    }

    .solutions__container {
        flex-direction: column;
        gap: 60px;
        margin-bottom: 60px;
    }

    .solutions__right {
        margin-left: auto;
        gap: 20px;
    }

    .solutions__title {
        font-size: 36px;
        line-height: 100%;
        margin-bottom: 30px;
    }

    .solution__right__carf {
        max-width: 120px;
        width: 100%;
        padding-top: 12px;
        padding-right: 12px;
        padding-bottom: 12px;
        padding-left: 24px;
        display: flex;
        align-items: center;

    }

    .solutions__right__card__img {
        max-width: 76px;
        margin-right: 20px;
        object-fit: contain;
        margin-right: 18px;
    }

    .solutions__right__card__title {
        font-size: 20px;
        max-width: 119px;
        text-wrap: wrap;
    }

    .solution__right__arrow__bg {
        max-width: 56px;
        height: 56px;
        padding: 16px;
    }

    .solution__bottom__marquee__ontainer {
        gap: 20px;
    }

    .solution__bottom__text {
        font-size: 56px;
        padding: 16px 30px;
        max-width: 560px;
    }
}

/* smart start */

.smart {
    padding-bottom: 100px;
    background-color: #232323;
}

.samrt__container {
    max-width: 1095px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.smart__title {
    font-size: 56px;
    font-weight: 400;
    line-height: 67.2px;
    text-align: center;
    color: white;
    /* margin-bottom: 220px; */
    margin-bottom: 80px;
}

.samrt__round__box {
    display: flex;
    align-items: center;
    position: relative;
    height: 412px;
    margin-bottom: 80px;
}

.smart__round {
    max-width: 413px;
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
    position: absolute;
}

.smart__round__1 {
    left: -130px;
    height: 412px;
}

.smart__round__2 {
    left: 321px;
    bottom: -100px;
    height: 412px;
}

.smart__round__3 {
    right: -130px;
    height: 412px;
}

.smart__gsap__animation__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: white;
    max-width: 147px;
    width: 100%;
    position: absolute;
    left: 480px;
    top: 400px;
    opacity: 0;
}

.smart__round__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: white;
    max-width: 177px;
    width: 100%;
}

.smart__btn {
    max-width: 45px;
    transform: scale(0);
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: white;
    background-color: #393939;
    border-radius: 80px;
    padding: 4px 4px 4px 4px;
    text-wrap: nowrap;
}

.smart__btn__img {
    width: 37px;
    height: 37px;
    object-fit: cover;
}

.min_samrt__container__hidden {
    display: none;
}

@media(max-width:1070px) {
    .smart__title {
        display: none;
    }

    .smart {
        height: auto;
        padding-bottom: 80px;
    }

    .samrt__container__hidden {
        display: none;
    }

    .samrt__round__box {
        display: flex;
        flex-direction: column;
        height: 893px;
        max-height: 893px;
        margin-bottom: 40px;
    }

    .smart__round {
        width: 353px;
        height: 353px;
    }

    .smart__round__res_1 {
        top: 0;
    }

    .smart__round__res_2 {
        top: 270px;
    }

    .smart__round__res_3 {
        bottom: 0;
    }

    .smart__round__text {
        opacity: 1;
    }

    .min_samrt__container__hidden {
        display: block;
    }




    .smart__title_2 {
        font-size: 36px;
        font-weight: 400;
        line-height: 43.2px;
        text-align: center;
        color: white;
        margin-bottom: 40px;
    }

    .smart__round__res__text {
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: center;
        color: white;
    }

    .smart__btn {
        display: none;
    }

    .smart__btn_2 {
        max-width: 196px;
        overflow: hidden;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        color: white;
        background-color: #393939;
        border-radius: 80px;
        padding: 4px 4px 4px 4px;
        text-wrap: nowrap;
    }
}

/* unrivalled start */

.unrivalled {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 50px;
    opacity: 0;
}

.unrivalled__container {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.unrivalled__top {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 107px;
}

.unrivalled__top__left {
    max-width: 493px;
    width: 100%;
}

.unrivalled__top__left__heading {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    margin-bottom: 25px;
    color: #141414;
}

.unrivalled__round {
    width: 12px;
    height: 12px;
    background-color: #141414;
    border-radius: 50%;
}

.unrivalled_top__left__title {
    font-size: 56px;
    font-weight: 400;
    line-height: 67.2px;
    color: #141414;
}

.unrivalled__right__btn {
    max-width: 196px;
    width: 100%;
    padding: 4px;
    border-radius: 80px;
    background-color: #232323;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: white;
    font-weight: 400;
    line-height: 21.6px;
}

.unrivalled__right__icon__bg {
    max-width: 37px;
    width: 100%;
    height: 37px;
    padding: 9px;
    background-color: #fff;
    border-radius: 50%;
}

.unrivalled__bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 42px;
    grid-row-gap: 74px;
}

.unrivalled__card {
    width: 100%;
}

.unrivalled__card__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
    color: #000000;
    margin-top: 16px;
    margin-bottom: 20px;
}

.unrivalled__card__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #14141480;
}

@media(max-width:950px) {
    .unrivalled__bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 42px;
        grid-row-gap: 74px;
    }
}

@media(max-width:768px) {
    .unrivalled {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .unrivalled__top {
        flex-direction: column-reverse;
    }

    .unrivalled_top__left__title {
        font-size: 36px;
        line-height: 43px;
    }

    .unrivalled__top {
        margin-bottom: 60px;
    }

    .unrivalled__right__btn {
        display: none;
    }

    .unrivalled__bottom {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-row-gap: 30px;
    }

    .unrivalled__card__title {
        font-size: 20px;
    }
}

/* discover start */
.discocer {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #fff;
    position: relative;
    /* bottom: -200px; */
}

.discover__container {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}
.discover__res__left{
    position: relative;
    top: -1560px;
}
.discover__res__right{
    position: relative;
    bottom: -1610px;
}

.discover__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;
}

.discover__top__title {
    max-width: 581px;
    width: 100%;
    margin-left: 430px;
    text-align: center;
    font-weight: 400;
    font-size: 56px;
    line-height: 67.2px;
    color: #141414;
}

.discover__top__btn__box {
    display: flex;
    align-items: start;
    gap: 13px;
}

.discover__top__btn {
    width: 46px;
    height: 46px;
    padding: 11px;
    border-radius: 100%;
    background-color: #f6f6f6;
}

.discover__bottom {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.discover__card__box {
    max-width: 266px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.discover__card__box {}

.h_268 {
    height: 268px;
}

.h_410 {
    height: 410px;
}

.discover__card {
    max-width: 266px;
    width: 100%;
    position: relative;
    border-radius: 17px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.discover__card__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all .3s;
}

.discover__card:hover .discover__card__bg {
    transform: scale(1.2);
}

.discover__card__link {
    position: relative;
    z-index: 2;
    max-width: 41px;
    width: 100%;
    margin-left: auto;
    margin-top: 15px;
    margin-right: 14px;
}

.discover__card__number {
    position: relative;
    z-index: 2;
    margin-top: auto;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 500;
    line-height: 10.28px;
    color: white;
    padding-left: 15px;
}

.discover__title {
    position: relative;
    z-index: 2;
    padding-left: 15px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: white;
    max-width: 276px;
    width: 100%;
}

.pt_51 {
    padding-top: 51px;
}

.discover__card__logo {
    max-width: 59px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.discover__main__card__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.52px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #141414;
    max-width: 179px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.discover__card__download__link {
    display: block;
    max-width: 195px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #232323;
    padding: 4px;
    border-radius: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: white;
    text-decoration: none;
}

.discover__card__download__link__logo {
    max-width: 40px;
    padding: 9px 9px 10px 10px;
    border-radius: 100%;
    background-color: #fff;
}

.discover__bottom__res {
    display: none;
}

.discover__bottom__res__bottom {
    display: none;
}
.discocer{
    overflow: hidden;
}
.main__animation{
    position: relative;
    /* bottom: -550px; */
}
/* .discover_left__right__animation{
    position: relative;
    bottom: -1000px;
}
.discover__left-2__right-2__aniamtion{
    position: relative;
    bottom: -1210px;
}
.discover_center__animation{
    position: relative;
    bottom: -1160px;
} */
.discover__card__top{
    position: relative;
    bottom: -1000px;
}
.discover__card__center{
    position: relative;
    bottom: -1000px;
}
.discover__card__bottom{
    position: relative;
    bottom: -1000px;
}
@media(max-width:1100px) {
    .discover__bottom__res {
        display: block;
    }

    .discover__bottom__res__bottom {
        display: block;
    }

    .discover__top {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 25px;
        margin-bottom: 40px;
    }

    .discover__top__title {
        margin-left: 0;
        font-size: 36px;
        max-width: 305px;
        line-height: 43px;
    }

    .discover__top__btn__box {
        gap: 8px;
        align-items: center;
    }

    .discover__bottom__res {
        display: flex;
        gap: 8px;
        max-width: 366px;
        width: 100%;
        margin-bottom: 40px;
    }

    .discover__bottom__res__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }
    .discover__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mt-60 {
        margin-top: 60px;
    }

    .discover__bottom {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .discover__card {
        max-width: 174px;
        width: 100%;
    }

    .discover__card__number {
        font-size: 14px;
    }

    .discover__title {
        font-size: 20px;
        max-width: 150px;
    }

    .discover__card__box {
        display: none;
    }

    .h_410 {
        height: 266px;
    }

    .h_268 {
        height: 175px;
    }

    .pt_51 {
        padding-top: 0;
    }

    .discover__card__logo {
        display: none;
    }

    .discover__main__card__title {
        max-width: 282px;
        width: 100%;
        font-size: 16px;
        margin-bottom: 25px;
    }

    .discover__card__download__link {
        font-size: 16px;
        padding: 3px;
        max-width: 186px;
        width: 100%;
    }
}
.partner__asked__animation{
    position: absolute;
    width: 100%;
    left: 0;
    top: 9591px;
    height: 1127px;
}
/* partners start */
.partner {
    padding-top: 100px;
    padding-bottom: 19px;
    background-color: #F8F5F2;
    overflow: hidden;
    position: relative;
}
.partner__backgdrop{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;    
    background-color: white;
}
.partner__container {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.partner__title {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 61px;
}

.partners__marquee {
    height: 100%;
}

.partners__bottom {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 145px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.partner__asked__animation__none{
    display: none;
}
@media(max-width:1100px){
    .partner__asked__animation{
        display: none;
    }
    .partner__asked__animation__none{
        display: block;
        position: static;
    }
}

@media(max-width:768px) {
    .partner {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .partner__title {
        margin-bottom: 40px;
    }

    .partners__bottom {
        grid-column-gap: 90px;
    }
}

/* asked start */

.asked {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #f8f5f2;
}

.asked__conatiner {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.asked__left {
    max-width: 383px;
    width: 100%;
}

.asked__heading {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #141414;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 31px;
}

.asked__left__heading__round {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #141414;
}

.asked__title {
    font-size: 56px;
    font-weight: 400;
    line-height: 67.2px;
    color: #141414;
    margin-bottom: 20px;
}

.asked__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #00000080;
}

.asked__right {
    max-width: 801px;
    width: 100%;
    border-radius: 20px;
    padding: 50px 30px;
    background-color: #fff;
}

.asked__right__row {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #00000033;
    padding-top: 12px;
    padding-bottom: 12px;
    overflow: hidden;
    height: 84px;
    transition: all .3s;
}

.asked__right__column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    margin-bottom: 16px;

}

.asked__right__row__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #141414;
}

.asked__right__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #141414;
}

.asked__row__btn {
    max-width: 52px;
    width: 100%;
    max-height: 52px;
    height: 100%;
    background-color: transparent;
    border-radius: 100%;
    padding: 19px;
    transition: all .3s;
}

.asked__row__btn__active {
    transform: rotate(45deg);
}

.asked__row__btn>svg {
    width: 100%;
}

.asked__right__row:hover {
    border-color: #D5E7EE;
}

.asked__right__row:hover .asked__row__btn {
    background-color: #D5E7EE;
}

.border_top {
    border-top: 2px solid;
    border-color: #00000033;
}

.border_bottom {
    border-bottom: 2px solid;
    border-color: #00000033;
}

.asked__right__row__active {
    height: 117px;
}

@media(max-width:1000px) {
    .asked__conatiner {
        flex-direction: column;
        gap: 40px;
    }

    .asked__right {
        padding: 30px 20px;
        border-radius: 16px;
    }

    .asked__heading {
        margin-bottom: 25px;
    }

    .asked__title {
        font-size: 36px;
        line-height: 43px;
        margin-bottom: 25px;
    }

    .asked__right__row__title {
        font-size: 16px;
    }

}

@media(max-width:495px) {
    .asked {
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .asked__right__row {
        height: 88px;
    }

    .asked__right__row__title {
        font-size: 16px;
    }

    .asked__right__row__active {
        height: 136px;
    }

    .max__text {
        max-height: 112px;
    }
}

